<div class="app">
  <clr-header class="header-6">
    <div class="branding">
      <h2>
        <font color="#ffffff">{{ title }}</font>
      </h2>
    </div>

    <div class="header-nav">
      <button class="btn btn-inverse" (click)="goHome()">
        <span class="nav-text">Home</span>
      </button>

      <button class="btn btn-inverse" (click)="goMail()">
        <span class="nav-text">Mails</span>
      </button>

      <button class="btn btn-inverse" (click)="goList()">
        <span class="nav-text">Lists</span>
      </button>

      <button class="btn btn-inverse" (click)="goHistory()">
        <span class="nav-text">History</span>
      </button>
    </div>
    <div class="header-actions">
      <a class="btn btn-inverse" (click)="goProfil()">
        <span class="nav-text">Profil</span>
      </a>
    </div>
  </clr-header>
</div>
<div class="content-container">
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
