<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<head>
<base href="/">
</head>
<clr-main-container>
	<clr-header class="header-6 header">
		<div class="branding"><h1><font color="#ffffff">Liste blanche &nbsp; </font></h1></div>
       
	   <div class="header-nav">
			<a href="/" class="active nav-link">
				<span class="nav-text">Dashboard</span>
			</a>
			<a routerlink="/home" routerlinklinkactive="active" class="nav-link" href="/home">
				<span class="nav-text">Profil</span>
			</a>
		</div>
		
		<div class="header-actions">
			<a href="profil.html" class="nav-link nav-text">Profil</a>
				
		</div>
    </clr-header>
  <div class="content-container">
    <main class="content-area">
      <clr-alert>
        <div clr-alert-item class="alert-item">
          <span class="alert-text">
            Voici les mails en quarantaine :
          </span>
        </div>
      </clr-alert>
	  <!--<nav class="subnav"> -->
	  <section class="nav-group"> 
                    <clr-datagrid>
						
						<clr-dg-column>email subject</clr-dg-column>
						<clr-dg-column>email sender</clr-dg-column>
						<clr-dg-column>created at</clr-dg-column>
						
						<clr-dg-row *ngFor="let email of emails">
							
							<clr-dg-cell>{{email.email_subject}}</clr-dg-cell>
							<clr-dg-cell>{{email.email_sender}}</clr-dg-cell>
							<clr-dg-cell>{{email.created_at}}</clr-dg-cell>
						</clr-dg-row>

						<clr-dg-footer>{{emails.length}} emails</clr-dg-footer>

					</clr-datagrid>
		</section>
		<!--</nav>  -->
	</main>  
		
  </div>
</clr-main-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



