<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<clr-main-container>
  <app-base-component></app-base-component>
</clr-main-container>
<!--
<clr-main-container>
	<div class="app">
		<clr-header class="header-6 header">
			<div class="branding"><h1><font color="#ffffff">{{title}} </font></h1></div>
		
			<div class="header-nav">
				<a routerlink="/home" class="nav-link" href="/home">
					<span class="nav-text">Home</span>
				</a>
				
				<a routerlink="/mail" class="nav-link" href="/mail">
					<span class="nav-text">Mails</span>
				</a>
			</div>
			<div class="header-actions">
				<a routerlink="/profil" class="nav-link" href="/profil" >
					<span class="nav-text">Profil</span>
				</a>
			</div>
			
			
		</clr-header>
		

	</div>
	<div class="content-container">
		
		<main class="content-area">
			
			<router-outlet></router-outlet>
 
		</main>
		
		
	</div>-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
